Repository manishsharma0398/capstone-notifications-lambda: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, terragrunt hcl fmt

.lintstagedrc:

{
  "*.{js,ts,tsx}": ["npx prettier --write"],
  "*.{hcl,tf,tfvars}": ["terragrunt hcl fmt"]
}

feat: set lambda infra
  .github/workflows/build.yml
Due: none

feat: set lambda infra
  .github/workflows/main.yml
  .github/workflows/terraform.yml
  iac/terragrunt.hcl
Due: terragrunt hcl fmt

feat: set lambda infra
  .github/workflows/main.yml
  .github/workflows/terraform.yml
Due: none

feat: set lambda infra
  iac/resources/variables.tf
  iac/terragrunt.hcl
Due: terragrunt hcl fmt

feat: set lambda infra
  iac/terragrunt.hcl
Due: terragrunt hcl fmt

feat: attach vpc to lambda
  iac/prd/terragrunt.hcl
  iac/resources/lambda_function.tf
  iac/resources/variables.tf
  iac/stg/terragrunt.hcl
  src/utils/index.ts
Due: npx prettier --write, terragrunt hcl fmt

feat: attach vpc to lambda
  iac/resources/lambda_function.tf
Due: terragrunt hcl fmt

feat: set lambda infra (#1)
  .github/workflows/build.yml
  .github/workflows/main.yml
  .github/workflows/terraform.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc
  iac/prd/terragrunt.hcl
  iac/resources/iam_roles.tf
  iac/resources/lambda_function.tf
  iac/resources/variables.tf
  iac/stg/terragrunt.hcl
  iac/terragrunt.hcl
  package.json
  src/utils/index.ts
  tsconfig.json
Due: npx prettier --write, terragrunt hcl fmt

feat: add infra and other changes for email
  .husky/install.mjs
  .lintstagedrc
  iac/prd/terragrunt.hcl
  iac/resources/iam_roles.tf
  iac/resources/outputs.tf
  iac/resources/secrets.tf
  iac/stg/terragrunt.hcl
  package.json
  pnpm-lock.yaml
  src/index.ts
  src/services/email.service.ts
  src/services/index.ts
  src/services/secrets-manager.service.ts
  src/utils/emailExec.ts
  src/utils/env.ts
  src/utils/index.ts
  src/utils/types.ts
Due: npx prettier --write, terragrunt hcl fmt

feat: add infra and other changes for email
  src/index.ts
  src/services/email.service.ts
  src/services/secrets-manager.service.ts
  src/utils/emailExec.ts
Due: npx prettier --write

feat: add infra and other changes for email
  .github/workflows/release.yml
  .github/workflows/terraform.yml
  iac/prd/terragrunt.hcl
  iac/stg/terragrunt.hcl
Due: terragrunt hcl fmt

feat: add infra and other changes for email
  .gitignore
Due: none

feat: subscribe to sns
  .nvmrc
  iac/resources/sns.tf
Due: terragrunt hcl fmt

feat: subscribe to sns
  src/services/email.service.ts
Due: npx prettier --write

fix: runtime handler
  src/index.ts
Due: npx prettier --write

fix: secret manager constructor
  src/services/email.service.ts
  src/services/secrets-manager.service.ts
Due: npx prettier --write

fix: add some logs
  src/index.ts
  src/services/email.service.ts
  src/utils/emailExec.ts
Due: npx prettier --write

fix: add some logs
  src/services/email.service.ts
Due: npx prettier --write

fix: add some logs
  src/index.ts
  src/services/secrets-manager.service.ts
Due: npx prettier --write

fix: add some logs
  src/services/email.service.ts
  src/services/secrets-manager.service.ts
Due: npx prettier --write

fix: add some logs
  src/services/secrets-manager.service.ts
Due: npx prettier --write

feat: add logs for debugging the issue
  src/services/secrets-manager.service.ts
Due: npx prettier --write

feat: increase stg lambda timeout to 7 seconds
  iac/stg/terragrunt.hcl
Due: terragrunt hcl fmt

feat: change some permissions
  iac/resources/iam_roles.tf
Due: terragrunt hcl fmt

feat: change some permissions
  iac/prd/terragrunt.hcl
  iac/resources/iam_roles.tf
  iac/resources/imports.tf
  iac/resources/lambda_function.tf
  iac/resources/outputs.tf
  iac/resources/secrets.tf
  iac/resources/sns.tf
  iac/resources/variables.tf
  iac/stg/terragrunt.hcl
  src/index.ts
  src/services/secrets-manager.service.ts
Due: npx prettier --write, terragrunt hcl fmt

feat: change key names
  iac/stg/terragrunt.hcl
Due: terragrunt hcl fmt

feat: explicitly allow egress to vpc cidr block
  iac/resources/lambda_function.tf
Due: terragrunt hcl fmt

feat: hardcode env variable for now
  src/services/secrets-manager.service.ts
Due: npx prettier --write

feat: some sg changes
  iac/resources/lambda_function.tf
  iac/resources/outputs.tf
Due: terragrunt hcl fmt

fix: i don't know what's happening
  iac/resources/lambda_function.tf
  src/services/secrets-manager.service.ts
Due: npx prettier --write, terragrunt hcl fmt

fix: i don't know what's happening
  iac/resources/lambda_function.tf
Due: terragrunt hcl fmt

fix: i don't know what's happening
  README.md
Due: none
